<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>

  <param name="use_sim_time" value="true" />

  <include file="$(find nv_base_generate)/launch/include/outdoor.launch.xml">
    <!-- <arg name="log_type" value="$(arg log_type)" /> -->
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nv_base_generate)/viz/view.rviz" output="$(arg log_type)" />
</launch>
